# The perfect rootserver
# by shoujii | BoBBer446
# https://github.com/shoujii/perfectrootserver
# Big thanks to https://github.com/zypr/perfectrootserver
# Compatible with Debian 8.x (jessie)

###############################
# Edit settings to your needs #
###############################

# Ready to go?
CONFIG_COMPLETED="0"



###############################
# Before you start            #
###############################
# General password policy:
# minimum 8 characters, 1 number, 1 uppercase letter and 1 lowercase letter.
#
# Recommended password settings:
# Leave `generatepw` to generate a strong password.

#################################
# system configuration			#
#################################

# Your timezone
# Valid timezones: https://www.vmware.com/support/developer/vc-sdk/visdk400pubs/ReferenceGuide/timezone.html
# --------------------------------
TIMEZONE="Europe/Berlin"


# Enter your domain without a subdomain (www) unless you know what you are doing!
# --------------------------------
MYDOMAIN="domain.tld"

# The SSH PORT will be generated
SSH_PORT="generateport"

# Set a password for your private SSH key
# --------------------------------
SSH_PASS="generatepw"

# Should the script provide a valid certificate? (Let's Encrypt)
USE_VALID_SSL="1"

# IMPORTANT!
# Before the certificate can be installed, the following requirements must be met:
# If you don't want to use the mailserver, only the subdomain "www" have to resolve directly to your server.
# I you want to use your mailserver, the subdomains "www", "mail", "dav", "autodiscover" and "autoconfig"
# have to resolve directly to your server.

# Note
# Let's Encrypt has a weekly limit on issuing certificates with the exact same set of names: 5 certificates per FQDN set per week!
# You can encouter the following error if you reached the limit:
# sources/script/functions.sh: line 627: /etc/nginx/ssl/my-domain.**.pem: No such file or directory
# unable to load Public Key
# In that case please set USE_VALID_SSL="0"

# You need a valid e-mail adress for your Let's Encrypt ssl-certificate.
# THIS IS VERY IMPORTANT, OTHERWISE YOU LOSE YOUR LET'S ENCRYPT ACCOUNT DATA!!!
# You don't need one, if you use a service like CloudFlare with an active protection
# --------------------------------
SSLMAIL="user@yourEmail.tld"

# Do you want to use the mailserver?
#--------------------------------
USE_MAILSERVER="1"

# Do you want to use PHP5 or PHP7?
# --------------------------------
USE_PHP5="0"
USE_PHP7="1"

# Postfix
# --------------------------------
POSTFIX_ADMIN_PASS="generatepw"

# Vimbadmin
# --------------------------------
VIMB_MYSQL_PASS="generatepw"

# Roundcube
# --------------------------------
ROUNDCUBE_MYSQL_PASS="generatepw"

# Do you want to use phpMyAdmin?
# --------------------------------
USE_PMA="1"
PMA_HTTPAUTH_USER="httpauth"
PMA_HTTPAUTH_PASS="generatepw"
PMA_BFSECURE_PASS="generatepw"

# Restrict access to phpMyAdmin from external?
# Only accessible from localhost via SSH-Tunnel
# --------------------------------
PMA_RESTRICT="0"

# MariaDB configuration
# --------------------------------
MYSQL_ROOT_PASS="generatepw"

# phpMyAdmin Database
# --------------------------------
MYSQL_PMADB_NAME="phpmyadmin"
MYSQL_PMADB_USER="phpmyadmin"
MYSQL_PMADB_PASS="generatepw"


#################################
# advanced system configuration #
#################################
# don't touch it, if you don't  #
# know what to do               #
#################################

# MySQL hostname
# --------------------------------
MYSQL_HOSTNAME="localhost"


# Do you want to use a service like CloudFlare to protect your Website?
# Enter "0" if you use CloudFlare only as DNS service without protecting your website.
# --------------------------------
CLOUDFLARE="0"

# Do you want use a 4096 RSA Key?
# If you set this to yes the installation takes up to 4 times longer!
# the default key is 2048 - If you want to use it type "0"
#choose 3 only for testing! This use an 256 bit key!
SET_UP_RSA_KEY="0"

# If your Server allow http and https
ALLOWHTTPCONNECTIONS="0"

# Please DO NOT set this value if you do not know what you are doing!
DEBUG_IS_SET="0"